<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API Explorer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to API Explorer</h1> 
    <h3>Users API</h3>
    <ul>
      <li><a href="/api/v1/users">GET / => All Users</a></li>
      <li><a href="/api/v1/users/length">GET / => Users Count</a></li>
      <li>POST /:id => Create a User (via POSTMAN)</li>
      <li>GET /:id => User by ID (via POSTMAN)</li>
      <li>PUT /:id => User by ID (via POSTMAN)</li>
      <li>DELETE /:id => User by ID (via POSTMAN)</li>
    </ul>
  </body>
</html>
